In [6]:
# examples loading the trajectory data
import pandas as pd
import numpy as np

In [6]:
# main data folders:
## /all_abn_v2 - all LFT data in the MGB system for patients with abnormal liver tests (see inclusion criteria)
## /allpath - all LFT data for patients with liver biopsies

In [7]:
# reading and anatomy of a trajectory file
# the np.load sometimes doesn't work - using the jupyterlab %time seems to ensure loading. Don't know what to say.
%time plots_ALT=np.load('trajectories/all_abn_v2/ALT_p2t_trajectories.npy', allow_pickle=True).item()
%time plots_AST=np.load('trajectories/all_abn_v2/AST_p2t_trajectories.npy', allow_pickle=True).item()

In [13]:
plots_ALT['(Z95M9R2IFE00142OE6OSUQK4HTE_27']

{'t': array([0.        , 0.61944444, 0.88194444, 1.32291667, 1.73263889,
        2.85763889]),
 'x': array([481., 450., 439., 405., 399., 308.]),
 't0': 13917.323611111111,
 't0_timestamp': '2008-02-08 07:46:00',
 'tf': 13920.18125,
 'tf_timestamp': '2008-02-08 07:46:00',
 'id': '(Z95M9R2IFE00142OE6OSUQK4HTE',
 'peak_num': 27}

In [4]:
# 't' is the time array, in units of days, where zero is the peak
# 'x' is ALT (because this is the ALT file; or AST, if loaded from the AST file)
# 't0' is the epoch day of time zero
# 'tf' is the epoch day of time final
# _timestamp is just the text form of the above
# 'id' is the anonymized patient ID
# 'peak_num' is the peak number
# NOTE: these last two are only really relevant for identifying a peak from a full trajectory, which could not be shared per our repository and IRB agreements

In [27]:
# meta data for a peak-to-trough (p2t) run example
pd.read_csv('trajectories/all_abn_v2/ALT_p2t_traj_meta_df.csv', index_col=0)

,id_ALT,t0_ALT,t0_date_ALT,index_xt_peak_ALT,tf_ALT,tf_date_ALT,index_xt_trough_ALT,tlen_ALT,x0_ALT,xf_ALT,xdelta_ALT
(Z95M9R2IFE00142OE6OSUQK4HTE_27,(Z95M9R2IFE00142OE6OSUQK4HTE,13917.323611,2008-02-08 07:46:00,27,13920.181250,2008-02-08 07:46:00,33,2.857639,481.0,308.0,173.0
(Z5P36534KDDMG7D895PMDHST56U_40,(Z5P36534KDDMG7D895PMDHST56U,18008.467361,2019-04-22 11:13:00,40,18013.339583,2019-04-22 11:13:00,47,4.872222,698.0,151.0,547.0
(Z816DBQBCSNAFVASRTGEDB92G7N_9,(Z816DBQBCSNAFVASRTGEDB92G7N,15189.490972,2011-08-03 11:47:00,9,15194.061111,2011-08-03 11:47:00,16,4.570139,308.0,100.0,208.0
(Z17O34J6652E3T9UKOJPNNIRQVU_207,(Z17O34J6652E3T9UKOJPNNIRQVU,12818.329861,2005-02-04 07:55:00,207,12832.319444,2005-02-04 07:55:00,213,13.989583,151.0,25.0,126.0
(ZA4GQJJOCRME94DROGCPHGHATP5_14,(ZA4GQJJOCRME94DROGCPHGHATP5,7361.476389,1990-02-26 11:26:00,14,7375.576389,1990-02-26 11:26:00,22,14.100000,504.0,31.0,473.0
...,...,...,...,...,...,...,...,...,...,...,...
(Z281JI9M93VJE7C81UDTS61U86K_4,(Z281JI9M93VJE7C81UDTS61U86K,18241.036806,2019-12-11 00:53:00,4,18249.274306,2019-12-11 00:53:00,13,8.237500,360.0,65.0,295.0
(ZBONLL1B5AEGC!A1RN30CRP3P0S_68,(ZBONLL1B5AEGC!A1RN30CRP3P0S,16635.250694,2015-07-19 06:01:00,68,16641.233333,2015-07-19 06:01:00,75,5.982639,196.0,65.0,131.0
(Z356RCGQ2TAI7R4RSL3FN8MDD7M_73,(Z356RCGQ2TAI7R4RSL3FN8MDD7M,17849.345139,2018-11-14 08:17:00,73,17853.434028,2018-11-14 08:17:00,81,4.088889,156.0,43.0,113.0
(Z5D5UMEHNAC781738TAHFC7QBBN_1,(Z5D5UMEHNAC781738TAHFC7QBBN,16761.090278,2015-11-22 02:10:00,1,16769.181250,2015-11-22 02:10:00,11,8.090972,264.0,66.0,198.0
(Z57L5KCCH4DDD9CK0B8R1D6B45S_4,(Z57L5KCCH4DDD9CK0B8R1D6B45S,16717.211111,2015-10-09 05:04:00,4,16728.234028,2015-10-09 05:04:00,16,11.022917,349.0,43.0,306.0

In [29]:
# meta data for fitting on p2t data example
# note these are joined with relevant lab values (TBILI, DBILI, IGG etc)
# model shorthand:
## EX- single exponential model
## BI- biexponential
## SQ- square impulse
## FH- full hepatocyte model
pd.read_csv('trajectories/all_abn_v2/fits/ALT_p2t_fit_table_full.csv', index_col=0)

,L0_EX_ALT,L0_stderr_EX_ALT,C_EX_ALT,C_stderr_EX_ALT,d_EX_ALT,d_stderr_EX_ALT,drvBLFT_EX_ALT,drvBLFT_stderr_EX_ALT,qerr_EX_ALT,nRMSD_EX_ALT,...,TBILI_dt,DBILI_epoch,DBILI_value,DBILI_dt,CR_epoch,CR_value,CR_dt,IGG_epoch,IGG_value,IGG_dt
0,1277.704376,45.212719,5.889278e+01,17.662986,0.458804,0.046564,1.283615e+02,27.711967,0.030148,0.033276,...,0.000000e+00,6987.212500,5.0,0.000000e+00,6987.212500,4.40,0.000000e+00,NaN,NaN,NaN
1,234.508930,15.555138,1.856054e-08,2.292720,0.133371,0.067293,1.391644e-07,17.190497,0.071795,0.094560,...,9.094947e-13,6987.383333,1.0,9.094947e-13,6987.383333,2.10,9.094947e-13,15652.250000,680.0,8664.866667
2,190.592618,2.428214,1.217168e+01,4.123493,0.316946,0.036286,3.840305e+01,8.709449,0.012685,0.015019,...,0.000000e+00,6987.396528,1.2,0.000000e+00,6987.396528,1.00,0.000000e+00,NaN,NaN,NaN
3,3025.122539,62.920543,3.104888e-07,2.546157,0.179258,0.007957,1.732074e-06,14.203837,0.018416,0.027493,...,0.000000e+00,6996.211806,6.5,0.000000e+00,6996.211806,0.40,0.000000e+00,NaN,NaN,NaN
4,976.267385,71.252165,6.938662e-08,5.416644,0.253095,0.044963,2.741522e-07,21.401602,0.061579,0.078161,...,9.094947e-13,6997.414583,0.7,9.094947e-13,6997.414583,2.50,9.094947e-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22832,144.509295,7.099132,8.605628e-07,3.220795,0.184310,0.067131,4.669103e-06,17.474867,0.047001,0.058249,...,3.637979e-12,18641.475694,0.9,3.637979e-12,18641.336111,0.69,-1.395833e-01,17989.341667,766.0,-652.134028
22833,602.585729,14.710396,4.350550e+01,19.291304,0.524500,0.070904,8.294660e+01,26.338146,0.032313,0.036128,...,-3.637979e-12,18646.159722,0.2,4.485417e+00,18641.674306,0.87,-3.637979e-12,18102.432639,462.0,-539.241667
22834,3242.369676,73.787024,6.595836e-08,7.926475,0.341124,0.015645,1.933558e-07,23.236326,0.027216,0.031443,...,3.637979e-12,18643.946528,0.3,3.637979e-12,18643.946528,8.36,3.637979e-12,15555.597222,553.0,-3088.349306
22835,628.853161,14.308453,5.704701e-07,6.186145,0.315221,0.021564,1.809745e-06,19.624775,0.035552,0.045577,...,0.000000e+00,18643.996528,0.9,0.000000e+00,18643.996528,1.00,0.000000e+00,16912.250000,1066.0,-1731.746528
22836,147.210920,8.841152,2.540501e-07,3.820462,0.178846,0.031868,1.420494e-06,21.361698,0.058684,0.064469,...,0.000000e+00,18645.213889,0.2,0.000000e+00,18645.213889,0.59,0.000000e+00,NaN,NaN,NaN

In [26]:
# all examples of fit-able AST and ALT joined in time | for Figure 2E-H
pd.read_csv('trajectories/all_abn_v2/fits/join_AST_ALT_FULL.csv', index_col=0)

,L0_EX_ALT,L0_stderr_EX_ALT,C_EX_ALT,C_stderr_EX_ALT,d_EX_ALT,d_stderr_EX_ALT,drvBLFT_EX_ALT,drvBLFT_stderr_EX_ALT,qerr_EX_ALT,nRMSD_EX_ALT,...,DBILI_epoch_AST,DBILI_value_AST,DBILI_dt_AST,CR_epoch_AST,CR_value_AST,CR_dt_AST,IGG_epoch_AST,IGG_value_AST,IGG_dt_AST,dt_AST_ALT
3,3025.122539,62.920543,3.104888e-07,2.546157,0.179258,0.007957,1.732074e-06,14.203837,0.018416,0.027493,...,6996.211806,6.5,0.000000e+00,6996.211806,0.40,0.000000e+00,NaN,NaN,NaN,0.000000
4,976.267385,71.252165,6.938662e-08,5.416644,0.253095,0.044963,2.741522e-07,21.401602,0.061579,0.078161,...,6996.458333,1.1,9.094947e-13,6996.458333,2.60,9.094947e-13,NaN,NaN,NaN,-0.956250
6,176.627362,NaN,2.226525e-09,NaN,0.090364,NaN,2.463943e-08,NaN,0.050105,0.067921,...,7000.509028,0.2,0.000000e+00,7000.509028,0.90,0.000000e+00,NaN,NaN,NaN,0.000000
8,301.821794,2.955565,1.640398e+00,0.992821,0.312293,0.009875,5.252756e+00,3.044419,0.007778,0.009034,...,7005.845139,0.1,0.000000e+00,7005.845139,1.30,0.000000e+00,NaN,NaN,NaN,-0.406250
9,428.293480,14.807895,1.194749e+02,33.561988,1.140462,0.190623,1.047601e+02,13.720116,0.031129,0.037113,...,7008.104167,0.1,-9.094947e-13,7008.104167,0.80,-9.094947e-13,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22832,144.509295,7.099132,8.605628e-07,3.220795,0.184310,0.067131,4.669103e-06,17.474867,0.047001,0.058249,...,18641.336111,0.9,3.637979e-12,18641.336111,0.69,3.637979e-12,17989.341667,766.0,-651.994444,-0.139583
22833,602.585729,14.710396,4.350550e+01,19.291304,0.524500,0.070904,8.294660e+01,26.338146,0.032313,0.036128,...,18646.159722,0.2,4.311111e+00,18641.848611,0.78,0.000000e+00,18102.432639,462.0,-539.415972,0.174306
22834,3242.369676,73.787024,6.595836e-08,7.926475,0.341124,0.015645,1.933558e-07,23.236326,0.027216,0.031443,...,18643.524306,0.4,-3.637979e-12,18643.524306,8.54,-3.637979e-12,15555.597222,553.0,-3087.927083,-0.422222
22835,628.853161,14.308453,5.704701e-07,6.186145,0.315221,0.021564,1.809745e-06,19.624775,0.035552,0.045577,...,18642.625694,0.8,0.000000e+00,18642.625694,1.50,0.000000e+00,16912.250000,1066.0,-1730.375694,-1.370833
22836,147.210920,8.841152,2.540501e-07,3.820462,0.178846,0.031868,1.420494e-06,21.361698,0.058684,0.064469,...,18644.115972,0.2,-3.637979e-12,18644.115972,0.57,-3.637979e-12,NaN,NaN,NaN,-1.097917